html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: 'Open Sans', sans-serif; }

strong {
  font-weight: 800; }

em {
  font-style: italic; }

h1 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding: 20px; }

h2 {
  font-size: 30px;
  line-height: 36px; }

p {
  margin-bottom: 16px;
  line-height: 22px; }
  p:last-of-type {
    margin-bottom: 0; }

code {
  font-family: 'Courier New'; }

section {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  section div {
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%; }
    section div h2 {
      text-align: center; }
  section:nth-of-type(1) {
    background-image: url(../src/images/one.jpg); }
  section:nth-of-type(2) {
    background-image: url(../src/images/two.jpg); }
  section:nth-of-type(3) {
    background-image: url(../src/images/three.jpg); }
  section:nth-of-type(4) {
    background-image: url(../src/images/four.jpg); }
    section:nth-of-type(4) h2 {
      margin-bottom: 20px; }

.active {
  background-color: orange !important; }
  .active div {
    opacity: 1;
    top: 50%; }

.after {
  opacity: 0; }
  .after div {
    opacity: 0;
    top: -10%; }

footer {
  background-color: white; }
  footer p {
    text-align: center;
    margin: 0;
    padding: 20px; }
    footer p a {
      color: #13c0d7;
      text-decoration: none; }
      footer p a:hover {
        text-decoration: underline; }

/* Required Styles Start */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.unfixed {
  position: relative;
  width: 100%; }

/* Required Styles End */
